.header {
    position: sticky;
    top: 0;
    right: 0;
    height: 100vh;
    z-index: 10;
    display: flex;
    justify-content: flex-end;
}
.sidebar {
    height: 100%;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between; 
}
.drawer {
    z-index: -1;
    position: absolute;
    top: 0;
    right: 0;
    background-color: var(--primary-dark);
    width: 60vw;
    height: 100%;
    transform: translateX(100%);
    visibility: hidden;
    transition: 0.2s 0.2s;

    display: flex;
    flex-direction: column;
    justify-content: center;

    nav {
        z-index: 20;
        display: flex;
        flex-direction: column;
        padding-left: 5rem;
        height: 60vh;
        opacity: 0;
        transition: 0.3s;
        a {
            font-size: 1.5rem;
            padding: 0.2rem 0;
            margin-bottom: 0.4rem;
            font-weight: 600;
            color: var(--primary-bright);

            &::before {
                content: ". ";
                color: var(--accent1);
            }
            &:hover {
                color: var(--accent2);
                text-decoration: none;
                &::before {
                    color: var(--accent2);
                }
            }
            &:active {
                color: var(--accent1);
                &::before {
                    color: var(--accent1);
                }
            }
        }
    }

    &.active {
        transform: none;
        visibility: visible;
        transition: 0.2s;
        nav {
            transition: 0.3s 0.3s;
            opacity: 1;
        }
    }
}
