$footer-height: 300px;

/* --- parallax styles --- */
.container {
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-perspective: 1px;
    perspective: 1px;
    perspective-origin: 0 0;
}
  
.parallaxLayer {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transform-origin: 0 0;
}
.background {
    transform: translateZ(-2px) scale(3);
}
.middleground {
    transform: translateZ(-1px) scale(2);
}
.foreground {
    transform: translateZ(0px);
}
/* ---- hero content styling --- */

.hero  .image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-color: var(--primary-dark);
    filter: grayscale(30%) brightness(70%);
}
.logo {
    padding: 3rem 0 0 3rem;
    color:var(--primary-bright);
}

.heading {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    padding: 0 0 5rem 3rem;
    color:var(--primary-bright);
    h1 {
        font-size: 4rem;
        letter-spacing: 0.04em;
        padding-bottom: 0.8rem;
        .dot {
            color: var(--accent1);
        }
    
    }
    h3 {
        font-size: 1.8rem;
        font-weight: 400;
        letter-spacing: 0.03em;    
    }
}


/* ---- styling of main content box ----*/
.contentWrapper {
    top:100vh;
    left: 0;
    width: 100%;
    height: max-content;
    padding-bottom: $footer-height;
}
.mainContent {
    min-height: 100vh;
    background-color: var(--primary-bright);
    width: 100%;
}

.footer {
    z-index: -1;
    position: fixed;
    bottom: 0;
    left:0;
    width: 100%;
    height: $footer-height;
    background-color: var(--primary-light);
    color: var(--primary-bright);
    padding: 3rem 3rem 5rem 3rem;
    display: flex;
    justify-content: center;
}
.footer > *:not(:nth-child(1)){
    margin-left: 2rem;
}
