@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;600;700&display=swap');

:root {
  --primary-dark: rgb(10, 10, 10);
  --primary-bright: rgb(240, 240, 240);
  --accent1: rgb(200, 0, 30);
  --accent2: rgb(236, 90, 112);
}
html,
body {
  font-family: 'Jost', sans-serif;
  line-height: 1.6;
  font-size: 18px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: #0070f3;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  display: block;
}