
.menuButton, .arrowButton {
    --border: 2px solid var(--primary-bright);
    background-color: var(--accent1);
    width: 2.5rem;
    height:2.5rem;
    /*border: var(--border);*/
    border-radius: 50%;
    padding: 0.7rem 0.6rem;
    cursor: pointer;
    visibility: visible;
    opacity: 1;
    transition: opacity 0.3s, background-color 0.2s;

    &.hidden {
        visibility:hidden;
        opacity: 0;
    }
    &:hover {
        background-color: var(--accent2);
    }
    &:active {
        transform: translateY(2px);
    }
}

.menuButton { 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    > * {
        border-top: var(--border);
    }
}
.arrowButton {
  display:flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;

  &.up {
    transform: rotate(180deg) ;
  }

  > * {
    width: 1rem;
    height: 1rem;
    border-bottom: var(--border);
    border-left: var(--border);
    transform: translateY(-0.2rem) rotate(-45deg) ;
    transform-origin: center center;
  }
}